!!!
%html
  %head
    %title
      Sinatra Knockout Template
    %script(type="text/javascript" src="/knockout-2.0.0.js")
    %script(type="text/javascript" src="/jquery-1.7.1.js")
    %link(rel="stylesheet" type="text/css" href="public/main.css")
    %script(type="text/javascript" src="public/main.js")
  %body
    = yield